@{
    ViewBag.Title = "RMDB - Home Page";
}

<div data-ng-controller="movieController" class="container">
    <div class="row">
        <div class="col-md-12">
            <strong class="alert alert-danger">{{error}}</strong>
            <p data-ng-hide="showAddMovieForm"><a data-ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">Add New Movie</a></p>
            <form name="addMovie" data-ng-show="showAddMovieForm" class="form-horizontal" novalidate>
                <div class="form-group">
                    <label for="moviename" class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="moviename" placeholder="Movie Name" data-ng-model="newMovie.Name" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="yearofrelease" class="col-sm-2 control-label">Year Of Release:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="yearofrelease" placeholder="YYYY" data-ng-model="newMovie.YearOfRelease" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="plot" class="col-sm-2 control-label">Plot</label>
                    <div class="col-sm-10">
                        <textarea  rows="4"cols="30" class="form-control" id="plot" placeholder="Movie Plot" data-ng-model="newMovie.Plot" ></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="poster" class="col-sm-2 control-label">Poster</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" id="poster" onchange="angular.element(this).scope().file_changed(this)"/>
                        <img data-ng-src="{{poster}}"  class="img-thumbnail img-responsive" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="actors" class="col-sm-2 control-label">Actors:</label>
                    <div class="col-sm-10">
                        <select data-ng-options="actor as actor.Name for actor in actors track by actor.ActorId" class="form-control" id="actors" placeholder="Actors" data-ng-model="newMovie.Actors" multiple required>
                            <option value="" selected>Select</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="addActor" class="col-sm-offset-2 col-sm-10">Couldn't find producer you want to add? Add a new one here:</label>
                    <div class="col-sm-offset-2 col-sm-8">
                        <input type="button" id="addActor" value ="Add Actor" class="btn btn-primary" data-toggle="modal" data-target="#addActorModal" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="producer" class="col-sm-2 control-label">Producer Name:</label>
                    <div class="col-sm-10">
                        <select data-ng-options="producer as producer.Name for producer in producers track by producer.producerId" class="form-control" id="producer" placeholder="Producer Name" data-ng-model="newMovie.Producer" required >
                            <option value="" selected>Select</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="addProducer" class="col-sm-offset-2 col-sm-10">Couldn't find producer you want to add? Add a new one here:</label>
                    <div class="col-sm-offset-2 col-sm-8">
                        <input type="button" id="addProducer" value ="Add Producer" class="btn btn-primary" data-toggle="modal" data-target="#addProducerModal" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Add" data-ng-click="add()" data-ng-disabled="addMovie.$invalid" class="btn btn-primary"/>
                        <input type="button" value="Cancel" data-ng-click="toggleAdd()" class="btn btn-primary"/>
                    </div>
                </div>
                <br/>
            </form>
        </div>
    </div>
    <!--Div for Add Actor Dialog Box-->
    <div><div ng-include="'Home/AddActor'"></div></div>
    <!--Div for Add Producer Dialog Box-->
    <div><div ng-include="'Home/AddProducer'"></div></div>
    <!--Just for spacing-->
    <div class="row">
        <div class="col-md-12">
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" style="width:800px">
                    <tr>
                        <th>#</th>
                        <th>Movie Name</th>
                        <th>Actors</th>
                        <th>Year Of Release</th>
                        <th>Plot</th>
                        <th>Poster</th>
                        <th>Producer</th>
                        <th>Actions</th>
                    </tr>
                    <tr data-ng-repeat="movie in movies">
                        <td>
                            <strong data-ng-hide="movie.enableEdit">{{movie.MovieId}}</strong>
                        </td>
                        <td>
                            <p data-ng-hide="movie.enableEdit">{{movie.Name}}</p>
                            <input type="text" data-ng-show="movie.enableEdit" data-ng-model="movie.Name"/> 
                        </td>
                        <td>
                            <p data-ng-hide="movie.enableEdit">{{getActors(movie.Actors)}}</p>
                            <input type="text" data-ng-show="movie.enableEdit" data-ng-model="movie.Actors" />
                        </td>
                        <td>
                            <p data-ng-hide="movie.enableEdit">{{movie.YearOfRelease}}</p>
                            <input type="text" data-ng-show="movie.enableEdit" data-ng-model="movie.YearOfRelease" />
                        </td>
                        <td>
                            <p data-ng-hide="movie.enableEdit">{{movie.Plot}}</p>
                            <input type="text" data-ng-show="movie.enableEdit" data-ng-model="movie.Plot" />
                        </td>      
                        <td>
                            <img data-ng-src="{{movie.Poster}}" class="img-thumbnail img-responsive" />
                            <input type="image" data-ng-show="movie.enableEdit" data-ng-model="movie.Poster" />
                        </td>
                        <td>
                            <p data-ng-hide="movie.enableEdit">{{movie.Producer.Name}}</p>
                            <input type="text" data-ng-show="movie.enableEdit" data-ng-model="movie.Producer" />
                        </td>
                        <td>
                            <p data-ng-hide="movie.enableEdit">
                                <a data-ng-click="toggleEdit(movie)" href="javascript:;">Edit</a> | <a data-ng-click="deleteMovie()" href="javascript:;">Delete</a>
                            </p>
                            <p data-ng-show="movie.enableEdit">
                                <a data-ng-click="save(movie)" href="javascript:;">Save</a> | <a data-ng-click="toggleEdit(movie)" href="javascript:;">Cancel</a>
                            </p>
                        </td>
                    </tr>
                </table>
                <hr/>
            </div>
        </div>
    </div>
    <div id="loadingImg" data-ng-show="loading">
        <img src="Images/ajax-loader.gif" class="ajax-loader" />
    </div>
       
</div>

