@{
    ViewBag.Title = "RMDB - Home Page";
}

<div data-ng-controller="movieController">
    <div class="row">
        <div class="col-md-12">
            <strong data-ng-show="showError" dclass="alert alert-danger">{{error}}</strong>
            <p data-ng-hide="showAddMovieForm"><a data-ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">Add New Movie</a></p>
        </div>
    </div>
    <!--Div for Add Actor Dialog Box-->
    <div><div ng-include="'Home/AddActor'"></div></div>
    <!--Div for Add Producer Dialog Box-->
    <div><div ng-include="'Home/AddProducer'"></div></div>
    <!--Just for spacing-->
    <div class="row">
        <div class="col-md-12">
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="table-responsive col-md-12 col-lg-12">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>#</th>
                        <th>Movie Name</th>
                        <th>Actors</th>
                        <th>Year Of Release</th>
                        <th>Plot</th>
                        <th>Poster</th>
                        <th>Producer</th>
                        <th>Actions</th>
                    </tr>
                     <tr ng-form name="addMovie" data-ng-show="showAddMovieForm" class="form-horizontal" novalidate>
                            <td></td>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="moviename" placeholder="Movie Name" data-ng-model="newMovie.Name" required />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <select data-ng-options="actor as actor.Name for actor in actors track by actor.ActorId" class="form-control" id="actors" placeholder="Actors" data-ng-model="newMovie.Actors" multiple required>
                                            <option value="" selected>Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <input type="button" id="addActor" value="Add Actor" class="btn btn-primary" data-toggle="modal" data-target="#addActorModal" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <input type="number" min="1900" max="2050" class="form-control" id="yearofrelease" placeholder="YYYY" data-ng-model="newMovie.YearOfRelease" required />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <textarea rows="4" cols="30" class="form-control" id="plot" placeholder="Movie Plot" data-ng-model="newMovie.Plot"></textarea>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <input type="file" class="form-control" id="poster" onchange="angular.element(this).scope().file_changed(this)" />
                                        <img data-ng-src="{{poster}}" class="img-thumbnail img-responsive poster" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <select data-ng-options="producer as producer.Name for producer in producers track by producer.producerId" class="form-control" id="producer" placeholder="Producer" data-ng-model="newMovie.Producer" required>
                                            <option value="" selected>Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <input type="button" id="addProducer" value="Add Producer" class="btn btn-primary" data-toggle="modal" data-target="#addProducerModal" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-10" >
                                        <input type="submit" value="Add" data-ng-click="add()" data-ng-disabled="addMovie.$invalid" class="btn btn-primary" />
                                        <input type="button" value="Cancel" data-ng-click="toggleAdd()" class="btn" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <tr data-ng-repeat="movie in movies" ng-form name="editMovie">
                        <td>
                            <strong >{{movie.MovieId}}</strong>
                        </td>
                        <td>
                            <p data-ng-hide="movie.enableEdit">{{movie.Name}}</p>
                            <div class="form-group">
                                <input type="text" class="form-control" data-ng-show="movie.enableEdit" data-ng-model="movie.Name" required/>
                            </div>
                        </td>
                        <td>
                            <p data-ng-hide="movie.enableEdit">{{getActors(movie.Actors)}}</p>
                            <div class="form-group">
                                <select class="form-control" data-ng-show="movie.enableEdit" data-ng-options="actor as actor.Name for actor in actors track by actor.ActorId" placeholder="Actors" data-ng-model="movie.Actors" multiple required></select>
                            </div>
                            <div class="form-group" data-ng-show="movie.enableEdit">
                                <div class="col-md-10">
                                    <input type="button" value="Add Actor" class="btn btn-primary" data-toggle="modal" data-target="#addActorModal" />
                                </div>
                            </div>
                        </td>
                        <td>
                            <p data-ng-hide="movie.enableEdit">{{movie.YearOfRelease}}</p>
                            <div class="form-group">
                            <input class="form-control" type="number" min="1900" max="2050" data-ng-show="movie.enableEdit" data-ng-model="movie.YearOfRelease" required/>
                            </div>
                        </td>
                        <td>
                            <p data-ng-hide="movie.enableEdit">{{movie.Plot}}</p>
                            <div class="form-group">
                            <textarea rows="4" cols="30" class="form-control" data-ng-show="movie.enableEdit" data-ng-model="movie.Plot"></textarea>
                            </div>
                        </td>      
                        <td>
                            <img data-ng-src="{{movie.Poster}}" class="img-thumbnail img-responsive poster" />
                            <div class="form-group">
                            <input type="file" class="form-control" data-ng-show="movie.enableEdit" id="editMoviePoster" onchange="angular.element(this).scope().file_changed(this)" />
                            </div>
                        </td>
                        <td>
                            <p data-ng-hide="movie.enableEdit">{{movie.Producer.Name}}</p>
                            <div class="form-group">
                                <select class="form-control" data-ng-show="movie.enableEdit" data-ng-options="producer as producer.Name for producer in producers track by producer.ProducerId" data-ng-model="movie.Producer" required>
                                </select>
                            </div>
                            <div class="form-group" data-ng-show="movie.enableEdit">
                                <div class="col-md-10">
                                    <input type="button" value="Add Producer" class="btn btn-primary" data-toggle="modal" data-target="#addProducerModal" />
                                </div>
                            </div>
                        </td>
                        <td>
                            <p data-ng-hide="movie.enableEdit">
                                <a data-ng-click="toggleEdit(movie)" href="javascript:;">Edit</a> | <a data-ng-click="deleteMovie()" href="javascript:;">Delete</a>
                            </p>
                                <div class="form-group" data-ng-show="movie.enableEdit">
                                <!--a data-ng-click="save(movie)" data-ng-disabled="editMovie.$invalid" href="javascript:;">Save</!--a> -->
                                    <input type="submit" value="Save" data-ng-click="save(movie)"  data-ng-disabled="editMovie.$invalid" class="btn btn-primary" />
                                    <button data-ng-click="toggleEdit(movie)" class="btn">Cancel</button>
                                </div>
                            
                        </td>
                    </tr>
                </table>
                <hr/>
        </div>
    </div>
    <div id ="loadingImg" data-ng-show="loading">
        <img src="~/Content/images/ajax-loader.gif" class="ajax-loader" />
    </div>
       
</div>

